<!--
  Generated template for the SchoolDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{school.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing.."></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="isConnected; else offline">
    <ion-row>
      <ion-col center col-8>
        <h4>Alamat</h4>
        <p>{{school.address}}</p>
      </ion-col>
      <ion-col col-4>
        <img-loader useImg [src]="school.photos[0].url"></img-loader>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Profil Singkat</h4>
        <p>{{school.profile || "-"}}</p>
      </ion-col>
    </ion-row>
    <ion-row wrap>
      <ion-col>
          <h4>Daftar Angkatan</h4>
        <ion-list >
          <ion-item *ngFor="let generation of generations" (click)="goToDetails(generation)" detail-push>
            <ion-thumbnail item-start>
                <img-loader useImg *ngIf="generation.photos.length > 0" [src]="generation.photos[0].url"></img-loader>
              </ion-thumbnail>
              <h2>{{generation.name}}</h2>
              <p>Tahun {{generation.year}}</p>
              <ion-icon name="arrow-dropright" item-end></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ng-template #offline>
    <ion-row style="margin:10px">
      <ion-item style="background-color:khaki">
          <div [hidden]="isLoading">
              <ion-icon name="sad" item-start></ion-icon>
              Oops.. Koneksi terputus
          </div>
          <div [hidden]="!isLoading">
              <ion-spinner name="bubbles"></ion-spinner>
              Menyambungkan..
          </div>
      </ion-item>
    </ion-row>
  </ng-template>