page-schools {
    
    ion-content {
        background-color: transparent !important;
    }

    .card-background-page {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        ion-card {
            position: relative;
            text-align: center;
            background-color: #fff; opacity: 1; 
            border-style: solid;
            border-color: #fff;
        }

        ion-card-title {
            font-size: 1.5rem
        }

    }
}
