page-register {
    .content {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    ion-item {
        align-items: flex-end !important;
    }
    
    .invalid {
        border: 1px solid #ea6153;
    }
}
