<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>register</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="register-content" padding>
    <ion-simple-wizard [(step)]="step" [showSteps]="true" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
        <ion-wizard-step>
            <ion-row class="logo-row">
                <ion-col>
                    <img src="assets/img/icon.png" />
                </ion-col>
            </ion-row>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
            <form [formGroup]="signupForm" inset *ngIf="isConnected; else offline">
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <!-- <ion-item>
                                    <ion-label floating>First Name</ion-label>
                                    <ion-input formControlName="firstName" type="text" [class.invalid]="!signupForm.controls.firstName.valid && (signupForm.controls.firstName.dirty || submitAttempt)"></ion-input>
                                </ion-item>
                                <ion-item *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
                                    <p>Please enter a valid name.</p>
                                </ion-item>
            
                                <ion-item>
                                    <ion-label floating>Last Name</ion-label>
                                    <ion-input formControlName="lastName" type="text" [class.invalid]="!signupForm.controls.lastName.valid && (signupForm.controls.lastName.dirty || submitAttempt)"></ion-input>
                                </ion-item>
            
                                <ion-item *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
                                    <p>Please enter a valid name.</p>
                                </ion-item> -->

                            <ion-item>
                                <ion-label floating>
                                    <ion-icon item-start name="mail"></ion-icon>Email</ion-label>
                                <ion-input formControlName="email" type="text" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)"
                                     (change)="emailChange()"></ion-input>
                            </ion-item>
                            <ion-item *ngIf="signupForm.controls.email.pending">
                                <p>Mengecek email...</p>
                            </ion-item>
                            <ion-item *ngIf="signupForm.controls.email.errors?.EmailExists  && (signupForm.controls.email.dirty || submitAttempt)">
                                    <p>Email sudah terdaftar</p>
                            </ion-item>
                            <!-- <ion-item *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
                                <p>putu@example.com</p>
                            </ion-item> -->

                            <!-- <ion-item>
                                <ion-label floating>
                                    <ion-icon item-start name="person"></ion-icon>Username</ion-label>
                                <ion-input [class.invalid]="!signupForm.controls.username.valid && (signupForm.controls.username.dirty || submitAttempt)"
                                    formControlName="username" type="text" ></ion-input>
                            </ion-item>

                            <ion-item *ngIf="signupForm.controls.username.pending">
                                <p>Checking username...</p>
                            </ion-item>

                            <ion-item *ngIf="!signupForm.controls.username.valid && !signupForm.controls.username.pending && (signupForm.controls.username.dirty || submitAttempt)">
                                <p>Sorry, that username can not be used!</p>
                            </ion-item> -->

                            <ion-item>
                                <ion-label floating>
                                    <ion-icon item-start name="finger-print"></ion-icon>Password</ion-label>
                                <ion-input formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitAttempt)"
                                    ></ion-input>
                            </ion-item>
                            <ion-item *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
                                <p>Mohon isi password!.</p>
                            </ion-item>

                            <ion-item>
                                <ion-label floating>
                                    <ion-icon item-start name="copy"></ion-icon>Confirm Password</ion-label>
                                <ion-input formControlName="confirmPassword" type="password" [class.invalid]="!signupForm.controls.confirmPassword.valid && (signupForm.controls.confirmPassword.dirty || submitAttempt)"
                                    ></ion-input>
                            </ion-item>
                            <ion-item *ngIf="signupForm.controls.confirmPassword.errors?.MatchPassword  && (signupForm.controls.confirmPassword.dirty || submitAttempt)">
                                <p>Password tidak sama!.</p>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <!-- <ion-row>
                    <ion-col>
                        <button class="submit-btn" ion-button full color="primary" (click)="save()">Create Account!</button>
                    </ion-col>
                </ion-row> -->
            </form>
        </ion-wizard-step>
        <ion-wizard-step>
            Step 1 content
        </ion-wizard-step>
    </ion-simple-wizard>

</ion-content>

<ng-template #offline>
    <ion-row style="margin:10px">
        <ion-item style="background-color:khaki">
            <div [hidden]="isLoading">
                <ion-icon name="sad" item-start></ion-icon>
                Oops.. Koneksi terputus
            </div>
            <div [hidden]="!isLoading">
                <ion-spinner name="bubbles"></ion-spinner>
                Menyambungkan..
            </div>
        </ion-item>
    </ion-row>
</ng-template>