page-register {
    .content {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    p {
        color: white
    }

    .profile-img {
        width: 100%;
        height: auto;
        display: block;
        
        img {
            width: 100%;
        }
    }

    .not-found {
        position: absolute;
        bottom: 0
    }

    .selected {
        background-color: cornflowerblue
    }

    ion-item {
        align-items: flex-end !important;
    }

    .item-md {
        background-color: rgba(158, 158, 158, 0.2);
        color: wheat;
    }
    
    .invalid {
        border: 1px solid #ea6153;
    }

    ion-wizard-step {
        top: 20px !important;
        width: 90% !important;
    }
}
