page-gallery {
    ion-content {
        background-color: transparent !important;
    }
    
    .content {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .slick-slider {
        margin-bottom: 20px;
    }

    .slick-slide {
        padding: 0 10px;
        opacity: 0.6;
    }

    .slick-current {
        opacity: 1 !important;
    }
    .slick-dots li button:before  {
        font-size: 20px !important;
        color: white !important;
    }

    .slick-nav {
        margin: 0 10px;
    }

    .slick-next {
        margin-right: 10px;
    }

    .slick-prev {
        left: inherit;
    }
}
