page-class-detail-page {
    .content {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    p {
        font-size: 16px;
        color: #d3d3d3;
    }

    h4 {
        color: #FFFFFF;
    }
}
