<!--
  Generated template for the GenerationDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Angkatan {{generation.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">

  <ion-slides #slider [options]="mySlideOptions" class="slider">
    <ion-slide *ngFor="let photo of generation.photos">
      <img [src]="photo.url" class="slide-image" />
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Tahun {{generation.year}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="pictureRow">
      <ion-col offset-50>
        <h4>Daftar Kelas</h4>
      </ion-col>
    </ion-row>
    <div *ngFor="let class of generation.classes">
      <ion-row class="pictureRow">
        <ion-col>
          <h4>{{ class.name }}</h4>
          <div *ngIf="class.photos.length > 0">
            <p>Foto Kelas</p>
            <ion-grid>
              <ion-row wrap *ngFor="let photo of class.photos">
                <ion-col width-33>
                  <img [src]="photo.url">
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <p>Daftar Siswa</p>
          <ion-list *ngFor="let student of class.students">
            <ion-item (click)="goToStudentDetails(student)" detail-push>
              <ion-avatar item-left>
                <img [src]="student.photo.url">
              </ion-avatar>
              <h2>{{student.name}}</h2>
              <p>{{student.motto}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <button ion-button block (click)="order()">Scan barcode</button>
</ion-content>