page-photography {
.content {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
}
