page-student-detail {
    .content {
        background-image: url("../assets/img/home-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .bg {
      height: 300px;
      background-size: cover;
      filter: blur(5px);
      background-position: center center;
    }

    .main-cnt {
      width: 100%;
      position: relative;
      top: -90%;
      height: 300px;
    }

    .dp {
      border-radius: 50%;
      height: 160px;
      width: 160px;
      z-index: 10;
      position: relative;
      transform: translate(-50%,-50%);
      box-shadow: -6px 15px 81px 3px rgba(0,0,0,0.75);
    }

    .blur:before {
      content: " ";
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      
      display: block;
      
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }

    ion-card {
    margin-top: 100px;
    overflow: visible;

    ion-card-content {
      text-align: center;
      background-size: cover;
      height: 300px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: solid 4px #FFFFFF;
        display: inline;
      }

      h2 {
        font-size: 2.5rem;
        margin-top: .5rem;
        color: white;
        overflow-x: scroll;
        white-space: nowrap;
      }

      h3 {
        font-size: 1.8rem;
        color: white;
      }

    }

  }

  .icon-center {
    line-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
