<!--
  Generated template for the ClassDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{classRoom.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing.."></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="isConnected; else offline">
    <div *ngIf="!isBusy; else busy">
      <ion-row>
        <ion-col center>
          <h4>{{school.name}}</h4>
          <p>Tahun {{generation.year}}</p>
        </ion-col>
      </ion-row>

      
      <ion-row style="color:white">
        <ion-col><h5>Foto Kelas</h5></ion-col>
      </ion-row>
      <ion-row *ngFor="let row of grid">
        <ion-col width-50 *ngFor="let media of row">
          <img-loader useImg [src]="media.url" (click)="openPhotoViewer(media.url)"></img-loader>
        </ion-col>
      </ion-row>
      <ion-row style="color:white" *ngIf="classRoom.photos.length > 2">
          <ion-col style="text-align:end"><button ion-button color="light" outline icon-start item-end (click)="gotoGallery()"><ion-icon name="expand"></ion-icon>MORE</button></ion-col>
        </ion-row>

      <p>Daftar Siswa</p>
      <ion-list>
        <ion-item-group *ngFor="let group of studentGroups">

          <ion-item-divider sticky>
            <ion-label>
              {{group.letter}}
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let student of group.students" (click)="goToStudentDetails(student)">
            <ion-avatar item-left>
              <div *ngIf="student.photo">
                <img-loader useImg [src]="student.photo.url"></img-loader>
              </div>
              <div *ngIf="!student.photo">
                <text-img [text]="student.name"></text-img>
              </div>
            </ion-avatar>
            <h2>{{student.name}}</h2>
            <p>{{student.motto}}</p>
            <ion-icon name="arrow-dropright" item-end></ion-icon>
          </ion-item>

        </ion-item-group>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>

<ng-template #offline>
  <div class="offline">
    <div [hidden]="isLoading" class="absolute-center">
      <ion-icon name="sad" item-start></ion-icon>
      Oops.. Koneksi terputus
    </div>
    <div [hidden]="!isLoading" class="absolute-center">
      <ion-spinner name="bubbles"></ion-spinner>
      Menyambungkan..
    </div>
  </div>

</ng-template>

<ng-template #busy>
  <ion-spinner name="dots" class="busy"></ion-spinner>
</ng-template>